@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;1,100;1,300&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&family=Lora:wght@600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400&display=swap");
/*
font-family: 'Epilogue', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/
body {
  font-family: "Lora", serif;
}

h1,
h2,
h3 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: -1px;
  color: var(--colors-principal);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2rem;
  color: #424041be;
}

p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 1px;
  font-family: "Epilogue", sans-serif !important;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
}

.titulo {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2rem;
  margin: 2rem 0;
  color: #424041be;
}

.titulo::after {
  content: " ";
  height: 4px;
  width: 60px;
  display: block;
  margin: 12px auto;
  background-color: #424041be;
}

.btn-principal {
  background-color: #424041be;
  padding: 1.5rem 3rem;
  color: #fff;
  margin-top: 1rem;
  border-radius: 0.4rem;
  text-transform: uppercase;
}
.btn-principal:hover {
  background-color: #c2885c;
  transition: 0.6s;
}
