@media (max-width: 1180px) {
  main .container-div {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  main .titulo::after {
    margin: 12px auto;
  }
  main section div p {
    max-width: 450px;
    margin: 0 auto;
    padding: 0 2rem;
  }

  main section div img {
    width: 100%;
    max-width: 380px;
    max-height: 450px;
    align-items: center;
    margin: 2rem auto;
    border: 4px solid #424041;
  }
  .btn-principal {
    background-color: var(--colors-background-1);
    padding: 1.5rem 3rem;
    color: var(--cor-padrão);
    margin: 1rem auto 2rem auto;
    border-radius: 0.4rem;
    text-transform: uppercase;
  }
  .section-direito div {
    width: 100%;
    height: auto;
    margin: 10px;
    text-align: center;
    align-items: center;
  }
  .section-direito .section-direito-div h3::after {
    content: "";
    background: #424041;
    margin: 12px auto;
    display: block;
    height: 4px;
    width: 30px;
  }
}

@media (max-width: 920px) {
  header a img {
    max-width: 200px;
    max-height: 120px;
  }

  .sobre-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 4%;
  }
  .sobre-div .sobre-imagem img {
    max-height: 350px;
    max-width: 300px;
    margin: 4rem auto 2rem auto;
    border: 4px solid var(--cor-padrão);
    border-image: linear-gradient(to right, #f5ecec, #ebad7d);
    border-image-slice: 2;
  }
  .valores .valores-div {
    width: 30%;
    text-align: center;
    padding: 2rem;
    margin: 1rem;
    border: 2px solid var(--cor-padrão);
    border-image: linear-gradient(to right, #f5ecec, #ebad7d);
    border-image-slice: 2;
  }

  .section-direito {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1rem 0;
    padding: 0 2%;
  }

  .section-direito div img {
    display: none;
  }
}

@media (max-width: 860px) {
  header a img {
    max-width: 180px;
    max-height: 100px;
  }
 
  .sobre-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 4%;
    text-align: center;
  }
  .sobre-perfil h3 {
    margin: 2rem 0 4rem 0;
  }
  .sobre-perfil h3::after {
    content: "";
    height: 4px;
    width: 30px;
    background-color: var(--cor-padrão);
    display: block;
    margin: 12px auto;
  }
  .sobre-perfil ul {
    flex-direction: column;
    text-align: center;
    padding: 0 4%;
  }
  .sobre-perfil ul li {
    list-style: none;
    background-color: #ebad7d;
    padding: 1rem 0;
    color: var(--cor-padrão);
  }

  .sobre-perfil ul li {
    margin: 0 0 1rem 0;
  }
  .sobre-div {
    margin: 2rem 0;
  }
  .sobre-div .sobre-imagem img {
    display: none;
  }

  .valores .valores-div {
    text-align: center;
    width: 80%;
    margin: 1rem auto;
  }

  .servicos-todo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .servicos-div {
    width: 46%;
    margin: 1rem;
    padding: 2rem;
    border: 2px solid #424041;
    border-radius: 6px;
  }
  .direitos h1 {
    font-size: 20px;
    line-height: 26px;
    max-width: 720px;
    margin: 20px auto 20px auto;
    padding: 20px;
    color: #f5ecec;
  }
  .direitos p {
    width: 600px;
    margin: 2rem auto o;
    padding: 40px;
  }

  .contato iframe {
    width: 820px;
    max-width: 90%;
    border: 2px solid #ebad7d;
    margin: 0 auto;
  }
}

@media (max-width: 780px) {
  .contato-texto {
    margin-top: -20px;
  }
  .servicos-todo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .servicos h1.titulo {
    font-size: 28px;
  }
  .servicos-div {
    width: 85%;

    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 110px;
    right: 0px;
    background: var(--colors-background-1);
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
    text-align: center;
  }

  #nav.active #menu {
    height: calc(100vh - 80px);
    visibility: visible;
    overflow-y: auto;
  }

  #menu li.active {
    display: none;
  }

  #menu a {
    padding: 1rem 0;
    margin: 0 0.6rem;
    color: var(--cor-padrão);
  }

  #menu li:hover {
    background-color: var(-cor-padrão);
    transition: 0.6s;
    margin-top: -4px;
  }

  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }

  #hamburguer {
    display: block;
    border-top: 2px solid;
    width: 30px;
  }

  #hamburguer::after,
  #hamburguer::before {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background: currentColor;
    margin-top: 10px;
    transition: 0.3s;
    position: relative;
  }

  #nav.active #hamburguer {
    border-top-color: transparent;
  }

  #nav.active #hamburguer::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }
  .direitos h1 {
    font-size: 20px;
    line-height: 26px;
    max-width: 720px;
    margin: 20px auto 20px auto;
    padding: 20px;
    color: #f5ecec;
  }
  .direitos p {
    width: 460px;
    margin: 2rem auto;
    padding: 40px;
  }
  .contato a {
    margin-bottom: 40px;
  }
}

@media (max-width: 520px) {
  main {
    padding: 2rem 0;
  }

  main section .titulo {
    font-size: 2rem;
    text-align: center !important;
  }
}
