@import url("./variables.css");

html {
  scroll-behavior: smooth;
}

body,
ul {
  margin: 0px;
  padding: 0px;
}

div header a {
  text-decoration: none;
}

header a img {
  max-width: 250px;
  max-height: 120px;
}

.background {
  background-color: #424041;
}

#header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 0;
  padding: 4rem 1rem;
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu li {
  padding: 0.4rem 1rem;
}

#menu a {
  font-size: 1.6rem;
  display: block;
  padding: 0.5rem;
  font-weight: 300;
  text-decoration: none !important;
  color: var(--cor-padrão);
}

#menu li.active {
  border-bottom: 1px solid #ebad7d;
}

#menu li:hover {
  transition: 0.4s;
  background-color: #ebad7d;
  color: var(--colors-background-1);
  border-bottom: 1px solid var(--cor-padrão);
}

#btn-mobile {
  display: block;
}

/* Main */

main {
  padding: 6rem 2%;
}

main section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem 2%;
}

main h2 {
  color: var(--colors-background-1);
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 1px;
}

main .titulo::after {
  content: "";
  width: 60px;
  height: 4px;
  display: block;
  background: #424041;
  margin: 12px 0;
}

main section div p {
  max-width: 650px;
}

main section div p span {
  font-weight: bold;
  text-decoration: underline;
}

main section div img {
  width: 100%;
  max-width: 450px;
  max-height: 600px;
  align-items: center;
  margin: 4rem auto 2rem auto;
  border: 4px solid #424041;
}

.div-texto .WhatsApp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 2rem;
  margin: 2rem 0;
}

/*valores*/
.sobre-background {
  background-color: #424041;
  padding: 2rem 0;
}

.sobre .titulo {
  font: 30px;
  text-align: center;
  color: var(--cor-padrão);
  margin: 4rem 0;
}
.sobre .titulo::after {
  content: "";
  height: 4px;
  width: 30px;
  margin: 12px auto;
  background: #ebad7d;
  display: block;
}

.sobre-perfil h3 {
  color: var(--cor-padrão);
  margin: 2rem 0;
}

.sobre-perfil h3::after {
  content: "";
  height: 4px;
  width: 30px;
  background-color: var(--cor-padrão);
  display: block;
  margin: 12px 0;
}

.sobre-perfil p {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  color: var(--cor-padrão);
}

.sobre-perfil span {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  color: #ebad7d;
  text-decoration: underline;
}

.sobre-perfil ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.sobre-perfil ul li {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  color: #ebad7d;
  list-style: circle;
  margin-left: 20px;
}

.btn-a a {
  background-color: #ebad7d;
  padding: 1.5rem 3rem;
  color: var(--cor-padrão);
}
.btn-a a:hover {
  background-color: var(--cor-padrão);
  padding: 1.5rem 3rem;
  color: #ebad7d;
  transform: 0.6s;
}
.sobre-div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 2%;
}

.sobre-div div {
  flex: 1;
}

.sobre-div .sobre-imagem img {
  max-height: 500px;
  max-width: 550px;
  margin: 4rem auto 2rem auto;
  border: 4px solid var(--cor-padrão);
  border-image: linear-gradient(to right, #f5ecec, #ebad7d);
  border-image-slice: 2;
}

.valores {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.valores .valores-div {
  width: 22%;
  text-align: center;
  padding: 2rem;
  margin: 1rem;
  border: 2px solid var(--cor-padrão);
  border-image: linear-gradient(to right, #f5ecec, #ebad7d);
  border-image-slice: 2;
}

.valores .valores-div h3 {
  color: #ebad7d;
  margin: 2rem 0;
}

.valores .valores-div h3::after {
  content: "";
  height: 4px;
  width: 30px;
  background-color: var(--cor-padrão);
  display: block;
  margin: 12px auto;
}

.valores-div {
  color: var(--cor-padrão);
}

.perfil-p-center {
  text-align: center;
  margin: 20px auto;
  padding: 2rem;
  max-width: 800px;
  color: #ebad7d;
}

/*direitos*/
.direitos {
  padding: 60px 0;
}
.background-imagem {
  background-image: url("../images/backgrounds/banner_002.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.direitos h1 {
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 2px;
  text-align: center;
  max-width: 800px;
  margin: 20px auto 20px auto;
  color: #f5ecec;
}
.direitos h1:after {
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 2px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto 20px auto;
  color: #f5ecec;
}

.direitos p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: center;
  width: 920px;
  margin: 1rem auto 2rem auto;
  color: #f5ecec;
  background: #ebad7d9a;
  padding: 40px;
}

/*section-direito*/

.container-direito {
  padding: 60px 4%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.titulo-center {
  font-size: 42px;
  letter-spacing: 2px;
  text-align: center;
  margin: 2rem 0 4rem 0;
}

.titulo-center::after {
  content: "";
  display: block;
  height: 4px;
  width: 30px;
  background: #424041;
  margin: 12px auto;
}

.section-direito {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-direito div {
  width: 48%;
  height: auto;
  margin: 10px;
}
.section-direito .section-direito-div {
  padding: 2px 0;
}
.section-direito .section-direito-div h3 {
  color: #424041;
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 2px;
  margin-top: 10px;
}
.section-direito .section-direito-div h3::after {
  content: "";
  background: #424041;
  margin: 12px 0;
  display: block;
  height: 4px;
  width: 30px;
}
.section-direito .section-direito-div p {
  margin: 2rem 0;
}
.section-direito div img {
  width: 100%;
  height: auto;
  border: 4px solid #424041;
  margin-top: 10px;
}

.sobre-background {
  background-color: #424041;
  padding: 2rem 0;
}

.contato {
  margin: 60px 0 40px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.sobre-background h1 {
  font: 30px;
  text-align: center;
  color: #f5ecec;
  margin: 2rem 0;
}

.sobre-background h1::after {
  content: "";
  height: 4px;
  width: 30px;
  margin: 12px auto;
  background: #ebad7d;
  display: block;
}
.contato ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.contato ul li {
  color: #f5ecec;
  font-size: 18px;
  padding: 0 2rem 2rem 2rem;
  margin: 1rem 2%;
  list-style:square;
}
.contato ul li:hover {
  color: #ebad7d;
  transition: 0.6s;
}

.contato iframe {
  width: 960px;
  max-width: 90%;
  border: 2px solid #ebad7d;
  margin: 1rem auto;
}
